name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - run: docker compose down -v --remove-orphans
      - run: docker compose up -d
      #- name: Run tests
        #run: docker compose exec template_fastapi pipenv run pytest
      #- run: docker compose down -v --remove-orphans
